.App {
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.app-content {
  display: flex;
  padding: 3em 4em;
}

.header{
  height: 50px;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  font-style: normal;
}

